Exemplo ui list
[
    {
        "id": "9f530164.0f892",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "var t = global.get(\"t\");\nvar tempo = global.get(\"tempo\");\n\nif(t === undefined){\n    t = '[{\"title\":\"tempo: '+tempo+'\"}]';\n    global.set(\"t\",t);\n\n}else{\n    var x = '{\"title\":\"tempo: '+tempo+'\"}';\n    var y = t.replace(\"[\",\"[\" + x + \",\");\n    global.set(\"t\",y);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 400,
        "wires": [
            [
                "97d62271.0b3a1"
            ]
        ]
    },
    {
        "id": "97d62271.0b3a1",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "t",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "1f61d830.aa9cd8"
            ]
        ]
    },
    {
        "id": "1f61d830.aa9cd8",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "9502f5c7b70babe2"
            ]
        ]
    },
    {
        "id": "8fc45db.34099a",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "tempo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a386c1c1.33ca1",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "b9d864d2.282eb8"
            ]
        ]
    },
    {
        "id": "fa05bb8c.47c3a8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "9f530164.0f892"
            ]
        ]
    },
    {
        "id": "b9d864d2.282eb8",
        "type": "moment",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "",
        "input": "tempo",
        "inputType": "msg",
        "inTz": "America/Belem",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "DD [de] MMM [de] YY  | HH:mm",
        "locale": "pt-BR",
        "output": "payload",
        "outputType": "msg",
        "outTz": "America/Belem",
        "x": 530,
        "y": 340,
        "wires": [
            [
                "8fc45db.34099a"
            ]
        ]
    },
    {
        "id": "9502
