flows.json
[
    {
        "id": "a12aa790e2d52da7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d67e567cd92cdd5c",
        "type": "ui_tab",
        "name": "Rastreador",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce5362b6dc1d33fe",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#31239f",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fa449e43a0d5d011",
        "type": "ui_group",
        "name": "Localizacao",
        "tab": "d67e567cd92cdd5c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "762347e8a8927422",
        "type": "ui_group",
        "name": "Batimentos Cardiacos",
        "tab": "d67e567cd92cdd5c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8dae227527354ab8",
        "type": "ui_group",
        "name": "Erros",
        "tab": "d67e567cd92cdd5c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "05b68ccbfc90dfde",
        "type": "inject",
        "z": "a12aa790e2d52da7",
        "name": "Data_In",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Nr01/-25.889709Lat/32.551495Lon/50.50BPM/200AREA/50DIS/ERROSem Comunicacao/Mapa{ \"name\":\"Miraldo\", \"lat\":-25.889709, \"lon\":32.551495, \"command\":{\"panit\":true}}",
        "payloadType": "str",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "cb1229cb7bf2714b"
            ]
        ]
    },
    {
        "id": "cb1229cb7bf2714b",
        "type": "split",
        "z": "a12aa790e2d52da7",
        "name": "",
        "splt": "/",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 310,
        "y": 280,
        "wires": [
            [
                "4747d931c7f6bb75",
                "afa2e1161ff6d526",
                "03b4ef24b36a74e6",
                "11cf0d0ea429dba2",
                "7a9ad11debea21fa",
                "3640a010590b0939",
                "a4a10b8659616789",
                "ddaab6aa8e1d063a"
            ]
        ]
    },
    {
        "id": "4747d931c7f6bb75",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Filtro_1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Lat",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "f3ad94402ed6e0c3"
            ]
        ]
    },
    {
        "id": "afa2e1161ff6d526",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Filtro_2",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Lon",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "1236e515cbd11d67"
            ]
        ]
    },
    {
        "id": "03b4ef24b36a74e6",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Filtro_3",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "BPM",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 180,
        "wires": [
            [
                "58768f863f4459d0"
            ]
        ]
    },
    {
        "id": "f3ad94402ed6e0c3",
        "type": "split",
        "z": "a12aa790e2d52da7",
        "name": "Latitude_out",
        "splt": "Lat",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 60,
        "wires": [
            [
                "77585c9091d39a5e"
            ]
        ]
    },
    {
        "id": "77585c9091d39a5e",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "out_lat",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 60,
        "wires": [
            [
                "b883a12c070bc81c"
            ]
        ]
    },
    {
        "id": "b883a12c070bc81c",
        "type": "ui_text",
        "z": "a12aa790e2d52da7",
        "group": "fa449e43a0d5d011",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Latitude: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "1236e515cbd11d67",
        "type": "split",
        "z": "a12aa790e2d52da7",
        "name": "Longitude_out",
        "splt": "Lon",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 700,
        "y": 120,
        "wires": [
            [
                "cc3a472245b38779"
            ]
        ]
    },
    {
        "id": "58768f863f4459d0",
        "type": "split",
        "z": "a12aa790e2d52da7",
        "name": "BPM_out",
        "splt": "BPM",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 680,
        "y": 180,
        "wires": [
            [
                "6fc5be4a02f1bbf1"
            ]
        ]
    },
    {
        "id": "cc3a472245b38779",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "out_lon",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 120,
        "wires": [
            [
                "cfd34bfff0df76b8"
            ]
        ]
    },
    {
        "id": "6fc5be4a02f1bbf1",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "BPM_out",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 180,
        "wires": [
            [
                "305e53a9d5f45294",
                "1f6fdfcb1a16cf55"
            ]
        ]
    },
    {
        "id": "cfd34bfff0df76b8",
        "type": "ui_text",
        "z": "a12aa790e2d52da7",
        "group": "fa449e43a0d5d011",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Longitude: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "305e53a9d5f45294",
        "type": "ui_text",
        "z": "a12aa790e2d52da7",
        "group": "762347e8a8927422",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "BPM: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1010,
        "y": 180,
        "wires": []
    },
    {
        "id": "1f6fdfcb1a16cf55",
        "type": "ui_chart",
        "z": "a12aa790e2d52da7",
        "name": "",
        "group": "762347e8a8927422",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1190,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5004e5c6780fa84b",
        "type": "worldmap",
        "z": "a12aa790e2d52da7",
        "name": "Mapa",
        "lat": "",
        "lon": "",
        "zoom": "17",
        "layer": "Esri Satellite",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "dms",
        "showgrid": "true",
        "allowFileDrop": "true",
        "path": "/map",
        "x": 1190,
        "y": 300,
        "wires": []
    },
    {
        "id": "11cf0d0ea429dba2",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Filtro_4",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Mapa",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "6c47dc4315c11bf9"
            ]
        ]
    },
    {
        "id": "6c47dc4315c11bf9",
        "type": "split",
        "z": "a12aa790e2d52da7",
        "name": "Mapa_out",
        "splt": "Mapa",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "149d01fb0bb214b0"
            ]
        ]
    },
    {
        "id": "149d01fb0bb214b0",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Map_out",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 240,
        "wires": [
            [
                "1f90e08076169369"
            ]
        ]
    },
    {
        "id": "051c38a753c3c1d0",
        "type": "debug",
        "z": "a12aa790e2d52da7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 240,
        "wires": []
    },
    {
        "id": "8c1424e404863b7a",
        "type": "ui_iframe",
        "z": "a12aa790e2d52da7",
        "group": "fa449e43a0d5d011",
        "name": "Mapa",
        "order": 6,
        "width": "6",
        "height": "4",
        "url": "http://127.0.0.1:1880/map/",
        "origin": "*",
        "scale": 100,
        "x": 1370,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1f90e08076169369",
        "type": "json",
        "z": "a12aa790e2d52da7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "051c38a753c3c1d0",
                "5004e5c6780fa84b"
            ]
        ]
    },
    {
        "id": "7a9ad11debea21fa",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Filtro_5",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "AREA",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 300,
        "wires": [
            [
                "1d2026df43d2b1d5"
            ]
        ]
    },
    {
        "id": "3640a010590b0939",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Filtro_6",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "DIS",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 360,
        "wires": [
            [
                "8a9677ef9a316702"
            ]
        ]
    },
    {
        "id": "a4a10b8659616789",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Filtro_7",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ERRO",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 420,
        "wires": [
            [
                "efa0229113123407"
            ]
        ]
    },
    {
        "id": "1d2026df43d2b1d5",
        "type": "split",
        "z": "a12aa790e2d52da7",
        "name": "Area_out",
        "splt": "AREA",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 680,
        "y": 300,
        "wires": [
            [
                "6eff78c10fc9fd5a"
            ]
        ]
    },
    {
        "id": "8a9677ef9a316702",
        "type": "split",
        "z": "a12aa790e2d52da7",
        "name": "Distance_out",
        "splt": "DIS",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 360,
        "wires": [
            [
                "6f5278f31732d7ae"
            ]
        ]
    },
    {
        "id": "efa0229113123407",
        "type": "split",
        "z": "a12aa790e2d52da7",
        "name": "Erro_out",
        "splt": "ERRO",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 680,
        "y": 420,
        "wires": [
            [
                "f2502f283fb9d24f"
            ]
        ]
    },
    {
        "id": "6eff78c10fc9fd5a",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Area_out",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 300,
        "wires": [
            [
                "060dc9fea5c51133"
            ]
        ]
    },
    {
        "id": "6f5278f31732d7ae",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Dis_out",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 360,
        "wires": [
            [
                "ce942dd728ee50a3"
            ]
        ]
    },
    {
        "id": "f2502f283fb9d24f",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Erros_out",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 860,
        "y": 420,
        "wires": [
            [
                "1533cde5ad422a78"
            ]
        ]
    },
    {
        "id": "060dc9fea5c51133",
        "type": "ui_text",
        "z": "a12aa790e2d52da7",
        "group": "fa449e43a0d5d011",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Area Fixa: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1030,
        "y": 300,
        "wires": []
    },
    {
        "id": "ce942dd728ee50a3",
        "type": "ui_text",
        "z": "a12aa790e2d52da7",
        "group": "fa449e43a0d5d011",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Distancia percorrida pelo gado: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1090,
        "y": 360,
        "wires": []
    },
    {
        "id": "1533cde5ad422a78",
        "type": "ui_text",
        "z": "a12aa790e2d52da7",
        "group": "8dae227527354ab8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1010,
        "y": 420,
        "wires": []
    },
    {
        "id": "aa8a718a702bd6f9",
        "type": "ui_template",
        "z": "a12aa790e2d52da7",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1260,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3848ff2bdbfbf224",
        "type": "split",
        "z": "a12aa790e2d52da7",
        "name": "Nr_gado_out",
        "splt": "Nr",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "8ccb4c64d231b5db"
            ]
        ]
    },
    {
        "id": "ddaab6aa8e1d063a",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Filtro_8",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Nr",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 480,
        "wires": [
            [
                "3848ff2bdbfbf224"
            ]
        ]
    },
    {
        "id": "8ccb4c64d231b5db",
        "type": "switch",
        "z": "a12aa790e2d52da7",
        "name": "Nr_Gado_out",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 880,
        "y": 480,
        "wires": [
            [
                "3a6904a01b0cf45d"
            ]
        ]
    },
    {
        "id": "3a6904a01b0cf45d",
        "type": "ui_text",
        "z": "a12aa790e2d52da7",
        "group": "fa449e43a0d5d011",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Gado Nr: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1060,
        "y": 480,
        "wires": []
    }
]